In [24]:
d = {"laranjas": 15, "bananas": 35, "siriguelas": 12}
d["bananas"]

35

In [25]:
d["pitombas"] = 20
len(d)

4

In [26]:
"pitombas" in d

True

In [27]:
"peras" in d

False

In [28]:
del d["laranjas"]
"laranjas" in d

False

In [29]:
frutas = ["pinha", "oiti coró", "jaca", "tamarindo"]
print([1, 2] + [3, 4])
print(frutas + [6, 7, 8, 9])

print([0] * 4)
print([1, 2, ["oi", "tchau"]] * 2)

[1, 2, 3, 4]
['pinha', 'oiti coró', 'jaca', 'tamarindo', 6, 7, 8, 9]
[0, 0, 0, 0]
[1, 2, ['oi', 'tchau'], 1, 2, ['oi', 'tchau']]

In [30]:
minha_lista = []
minha_lista.append(5)
minha_lista.append(27)
minha_lista.append(3)
minha_lista.append(12)
print(minha_lista)

[5, 27, 3, 12]

In [31]:
minha_lista.insert(1, 12)
print(minha_lista)
print(minha_lista.count(12))
print(minha_lista.index(3))
print(minha_lista.count(5))

[5, 12, 27, 3, 12]
2
3
1

In [32]:
minha_lista.reverse()
print(minha_lista)
minha_lista.sort()
print(minha_lista)
minha_lista.remove(5)
print(minha_lista)

[12, 3, 27, 12, 5]
[3, 5, 12, 12, 27]
[3, 12, 12, 27]